apiVersion: apps/v1
kind: Deployment
metadata:
  name: nginx-deployment
spec:
  replicas: 3
  selector:
    matchLabels:
      app: nginx
  template:
    metadata:
    labels:
      app: nginx
    spec:
      containers:
        - name: nginx
          image: nginx-latest
          ports:
            - containerPort: 80

# -----
# Role of deployment
# Deployment ensures that there is a smooth deployment, and if the new image fails for some reason, the old replicaset is maintained.
# Even though the rs is what does pod management , deployment is what does rs management
# -----

# Checkout the history of deployment
#  kubectl rollout history deployment/nginx-deployment

# To rollback to previous version
# kubectl rollout undo deployment/nginx-deployment